name: Terraform CI Testing

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      tf_dir:
        required: true
        type: string
    secrets:
      AWS_MANAGEMENT_ROLE_ARN:
        required: false
      AWS_TARGET_ROLE_ARN:
        required: false
      GITLEAKS_LICENSE:
        required: false

jobs:
  terraform_ci_test:
    runs-on: ubuntu-latest
    env:
      TF_INPUT: false
      TF_IN_AUTOMATION: true
      TF_DIR: ${{ inputs.tf_dir }}
      AWS_REGION: us-east-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      # - name: Run tfsec
      #   uses: aquasecurity/tfsec-action@v1.0.3
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     working_directory: ${{ env.TF_DIR }}
      #     args: --tfvars-file=${{ env.TF_DIR }}/env/${{ inputs.env }}.tfvars --format=json --out=tfsec-report.json
      #     soft_fail: true
         
      # ----- DEBUG STEPS -----
      # - name: Capture tfsec report
      #   id: capture-report
      #   run: |
      #     echo "${{ steps.tfsec.outputs.tfsec-report.json }}" > ${{ env.TF_DIR }}/tfsec-report.json

      # - name: List Terraform files
      #   run: |
      #     ls -la ${{ env.TF_DIR }}

      # - name: Display Terraform report
      #   run: cat ${{ env.TF_DIR }}/tfsec-report.json
      # -----------------------

      # ----- MANUALLY RUN TFSEC -----
      # - name: Manually run tfsec
      #   id: tfsec-manual-run
      #   run: |
      #     cd ${{ env.TF_DIR }}
      #     curl -sSL https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash
      #     tfsec . --tfvars-file=env/${{ inputs.env }}.tfvars --format=lovely,json --out=tfsec-report --soft-fail

      - name: Install tfsec with SHA256 + GPG verification
        run: |
          TFSEC_TAG=v1.28.14
          
          # Download the Linux amd64 release of tfsec 1.28.14
          curl -sSL -o tfsec-linux-amd64 https://github.com/aquasecurity/tfsec/releases/download/$TFSEC_TAG/tfsec-linux-amd64
          curl -sSL -o tfsec-linux-amd64.sig https://github.com/aquasecurity/tfsec/releases/download/$TFSEC_TAG/tfsec-linux-amd64.D66B222A3EA4C25D5D1A097FC34ACEFB46EC39CE.sig
          curl -sSL -o tfsec_checksums.txt https://github.com/aquasecurity/tfsec/releases/download/$TFSEC_TAG/tfsec_checksums.txt

          # Verify with GPG key
          gpg --keyserver keyserver.ubuntu.com --recv-keys D66B222A3EA4C25D5D1A097FC34ACEFB46EC39CE
          gpg --verify tfsec-linux-amd64.sig tfsec-linux-amd64

          # Optional: verify SHA256 checksum
          grep 'tfsec-linux-amd64' tfsec_checksums.txt | sed 's| tfsec-linux-amd64| tfsec-linux-amd64|' | sha256sum -c -

          # Move binary
          chmod +x tfsec-linux-amd64
          sudo mv tfsec-linux-amd64 /usr/local/bin/tfsec

          # Run tfsec
          tfsec ${{ env.TF_DIR }} --tfvars-file=${{ env.TF_DIR }}/env/${{ inputs.env }}.tfvars --format=lovely,json --out=${{ env.TF_DIR }}/tfsec-report --soft-fail
      
      # - name: List Terraform files
      #   run: |
      #     ls -la ${{ env.TF_DIR }}

      # - name: Display Terraform report
      #   run: cat ${{ env.TF_DIR }}/tfsec-report.lovely
      # ------------------------------

      - name: Check for Critical and High Issues
        id: tfsec-count
        run: |
          LOW=$(jq '[.results[] | select(.severity=="LOW")] | length' ${{ env.TF_DIR }}/tfsec-report.json)
          MEDIUM=$(jq '[.results[] | select(.severity=="MEDIUM")] | length' ${{ env.TF_DIR }}/tfsec-report.json)
          HIGH=$(jq '[.results[] | select(.severity=="HIGH")] | length' ${{ env.TF_DIR }}/tfsec-report.json)
          CRITICAL=$(jq '[.results[] | select(.severity=="CRITICAL")] | length' ${{ env.TF_DIR }}/tfsec-report.json)
          TOTAL=$LOW+$MEDIUM+$HIGH+$CRITICAL

          echo "low=$LOW" >> $GITHUB_OUTPUT
          echo "medium=$MEDIUM" >> $GITHUB_OUTPUT
          echo "high=$HIGH" >> $GITHUB_OUTPUT
          echo "critical=$CRITICAL" >> $GITHUB_OUTPUT
          echo "total=$TOTAL" >> $GITHUB_OUTPUT
      
      - name: Conditionally Warn Pipeline in Dev or Test Environments (tfsec)
        if: ${{ (inputs.env == 'dev' || inputs.env == 'tst') && (fromJSON(steps.tfsec-count.outputs.high) > 0 || fromJSON(steps.tfsec-count.outputs.critical) > 0) }}
        run: |
          echo "::warning:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Deployment permitted to dev/test environment."

      - name: Conditionally Fail Pipeline in Prod Environment (tfsec)
        if: ${{ (inputs.env == 'prod') && (fromJSON(steps.tfsec-count.outputs.high) > 0 || fromJSON(steps.tfsec-count.outputs.critical) > 0) }}
        run: |
          echo "::error:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Blocking production deployment."
          exit 1
      
      - name: Conditionally Fail Pipeline in any Other Environments (tfsec)
        if: ${{ (inputs.env != 'dev' && inputs.env != 'tst' && inputs.env != 'prod') && (fromJSON(steps.tfsec-count.outputs.total) > 0) }}
        run: |
          echo "::error:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Blocking deployment to unknown environment."
          exit 1
      
      - name: Run Chekov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: ${{ env.TF_DIR }}
          output_format: cli,json
          output_file_path: console,chekov-results.json
          soft_fail: true
      
      - name: Print Chekov JSON report
        run: cat ${{ env.TF_DIR }}/chekov-results.json