name: Terraform CI Testing

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      tf_dir:
        required: true
        type: string
    secrets:
      AWS_MANAGEMENT_ROLE_ARN:
        required: false
      AWS_TARGET_ROLE_ARN:
        required: false
      GITLEAKS_LICENSE:
        required: false

jobs:
  terraform_ci_test:
    runs-on: ubuntu-latest
    env:
      TF_INPUT: false
      TF_IN_AUTOMATION: true
      TF_DIR: ${{ inputs.tf_dir }}
      AWS_REGION: us-east-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create Report Directories
        if: always() # Needed if prior step fail to ensure vulnerability scans still run
        run: |
          mkdir ${{ env.TF_DIR }}/tfsec-report
          mkdir ${{ env.TF_DIR }}/checkov-report

      # ---------- TFSEC ----------
      - name: Install tfsec with SHA256 & GPG Verification and Run
        # Was unable to determine a method for passing results from GitHub Action (aquasecurity/tfsec-action@v1.0.3) to future jobs
        # This manual run is intended to generate JSON output for logic to conditionally warn or fail depending on environment
        if: always() # Run tfsec even if prior job steps failed
        env:
          TFSEC_TAG: v1.28.14
        run: |          
          # Download binary for tfsec tagged version pinned by variable
          curl -sSL -o tfsec-linux-amd64 https://github.com/aquasecurity/tfsec/releases/download/$TFSEC_TAG/tfsec-linux-amd64
          curl -sSL -o tfsec-linux-amd64.sig https://github.com/aquasecurity/tfsec/releases/download/$TFSEC_TAG/tfsec-linux-amd64.D66B222A3EA4C25D5D1A097FC34ACEFB46EC39CE.sig
          curl -sSL -o tfsec_checksums.txt https://github.com/aquasecurity/tfsec/releases/download/$TFSEC_TAG/tfsec_checksums.txt
          
          # Verify SHA256 checksum
          grep 'tfsec-linux-amd64' tfsec_checksums.txt | sed 's| tfsec-linux-amd64| tfsec-linux-amd64|' | sha256sum -c -

          # Verify GPG Signature
          gpg --keyserver keyserver.ubuntu.com --recv-keys D66B222A3EA4C25D5D1A097FC34ACEFB46EC39CE
          gpg --verify tfsec-linux-amd64.sig tfsec-linux-amd64

          # Move binary
          chmod +x tfsec-linux-amd64
          sudo mv tfsec-linux-amd64 /usr/local/bin/tfsec

          # Run tfsec
          tfsec ${{ env.TF_DIR }} --tfvars-file=${{ env.TF_DIR }}/env/${{ inputs.env }}.tfvars --format=lovely,json,csv --out=${{ env.TF_DIR }}/tfsec-report/results --soft-fail

      - name: (tfsec) Count Findings by Severity
        id: tfsec-count
        env:
          TFSEC_REPORT: ${{ env.TF_DIR }}/tfsec-report/results.json
        run: | # Creates and exports variables that count numbers of vulnerabilities for conditional security gates          
          LOW=$(jq '[.results[] | select(.severity=="LOW")] | length' $TFSEC_REPORT)
          MEDIUM=$(jq '[.results[] | select(.severity=="MEDIUM")] | length' $TFSEC_REPORT)
          HIGH=$(jq '[.results[] | select(.severity=="HIGH")] | length' $TFSEC_REPORT)
          CRITICAL=$(jq '[.results[] | select(.severity=="CRITICAL")] | length' $TFSEC_REPORT)
          TOTAL=$((LOW + MEDIUM + HIGH + CRITICAL))

          echo "low=$LOW" >> $GITHUB_OUTPUT
          echo "medium=$MEDIUM" >> $GITHUB_OUTPUT
          echo "high=$HIGH" >> $GITHUB_OUTPUT
          echo "critical=$CRITICAL" >> $GITHUB_OUTPUT
          echo "total=$TOTAL" >> $GITHUB_OUTPUT
      
      - name: (tfsec) Conditionally Warn Pipeline in Development or Test Environments
        # Intentionally declaring dev and test so any future environments fail by default
        if: ${{ (inputs.env == 'dev' || inputs.env == 'tst') && (steps.tfsec-count.outputs.high > 0 || steps.tfsec-count.outputs.critical > 0) }}
        run: |
          echo "::warning:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Deployment permitted to dev/test environment."

      - name: (tfsec) Conditionally Fail Pipeline in Production Environment
        # High and/or Critical vulnerabilities will block deployment to production
        if: ${{ (inputs.env == 'prod') && (steps.tfsec-count.outputs.high > 0 || steps.tfsec-count.outputs.critical > 0) }}
        run: |
          echo "::error:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Blocking production deployment."
          exit 1
      
      - name: (tfsec) Conditionally Fail Pipeline in any Other Environments
        # Creates a fail by default condition if any vulnerabilities are detected for environments not explicitly listed
        if: ${{ (inputs.env != 'dev' && inputs.env != 'tst' && inputs.env != 'prod') && (steps.tfsec-count.outputs.total > 0) }}
        run: |
          echo "::error:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Blocking deployment to unknown environment."
          exit 1
      
      # ---------- CHECKOV ----------
      - name: Pull Checkov GitHub Action Docker Container and Run
        uses: bridgecrewio/checkov-action@v12
        if: always() # Ensure Checkov runs even if tfsec fails
        continue-on-error: true
        with:
          api-key: "" # Pull from secrets manager if available
          directory: ${{ env.TF_DIR }}
          output_format: json # Cannot output JSON and CSV at same time
          output_file_path: ${{ env.TF_DIR }}/checkov-report
      
      - name: (Checkov) Count Findings by Severity
        id: checkov-count
        env:
          CHECKOV_REPORT: ${{ env.TF_DIR }}/checkov-report/results_json.json
        run: | # Creates and exports variables that count numbers of vulnerabilities for conditional security gates                   
          # Count by severity (if API key provided)
          if jq -e '.results.failed_checks[] | select(.severity != null)' $CHECKOV_REPORT >/dev/null; then 
            INFO=$(jq '[.results.failed_checks[] | select(.severity=="INFO")] | length' $CHECKOV_REPORT)
            LOW=$(jq '[.results.failed_checks[] | select(.severity=="LOW")] | length' $CHECKOV_REPORT)
            MEDIUM=$(jq '[.results.failed_checks[] | select(.severity=="MEDIUM")] | length' $CHECKOV_REPORT)
            HIGH=$(jq '[.results.failed_checks[] | select(.severity=="HIGH")] | length' $CHECKOV_REPORT)
            TOTAL=$((LOW + MEDIUM + HIGH))

            echo "info=$INFO" >> $GITHUB_OUTPUT
            echo "low=$LOW" >> $GITHUB_OUTPUT
            echo "medium=$MEDIUM" >> $GITHUB_OUTPUT
            echo "high=$HIGH" >> $GITHUB_OUTPUT
            echo "total=$TOTAL" >> $GITHUB_OUTPUT
            echo "pass=" >> $GITHUB_OUTPUT          # null
            echo "fail=" >> $GITHUB_OUTPUT          # null

          else # Otherwise count by pass/fail if API key not provided
            echo "::notice:: Checkov severity scoring not populated. Checkov analysis falling back to simple pass/fail."
            echo "::notice:: A Checkov API key was likely not provided, resulting in Checkov severity scoring of null."

            echo "info=" >> $GITHUB_OUTPUT          # null
            echo "low=" >> $GITHUB_OUTPUT           # null
            echo "medium=" >> $GITHUB_OUTPUT        # null
            echo "high=" >> $GITHUB_OUTPUT          # null
            echo "total=" >> $GITHUB_OUTPUT         # null
            echo "pass=$(jq '.summary.passed' $CHECKOV_REPORT)" >> $GITHUB_OUTPUT
            echo "fail=$(jq '.summary.failed' $CHECKOV_REPORT)" >> $GITHUB_OUTPUT
          fi
      
      - name: (Checkov) Conditionally Warn Pipeline in Development or Test Environments
        # Intentionally declaring dev and test so any future environments fail by default
        if: ${{ (inputs.env == 'dev' || inputs.env == 'tst') && (steps.checkov-count.outputs.high > 0 || steps.checkov-count.outputs.fail > 0) }}
        run: |
          echo "::warning:: HIGH vulnerabilities or FAILED checks detected by Checkov! Deployment permitted to dev/test environment."

      - name: (Checkov) Conditionally Fail Pipeline in Production Environment
        # High vulnerabilities (or failed checks) will block deployment to production
        if: ${{ (inputs.env == 'prod') && (steps.checkov-count.outputs.high > 0 || steps.checkov-count.outputs.fail > 0) }}
        run: |
          echo "::error:: HIGH vulnerabilities or FAILED checks detected by Checkov! Blocking production deployment."
          exit 1
      
      - name: (Checkov) Conditionally Fail Pipeline in any Other Environments
        # Creates a fail by default condition if any vulnerabilities are detected for environments not explicitly listed
        if: ${{ (inputs.env != 'dev' && inputs.env != 'tst' && inputs.env != 'prod') && (steps.checkov-count.outputs.total > 0 || steps.checkov-count.outputs.fail > 0) }}
        run: |
          echo "::error:: Vulnerabilities or FAILED checks detected by Checkov! Blocking deployment to unknown environment."
          exit 1

      # ---------- ARTIFACT UPLOAD ----------
      - name: Generate Checkov CSV # For vulnerability management review/ticket creation
      # Checkov could not ouput both JSON and CSV at the same time
        if: always()
        run: |
          jq -r '
            ["check_id","bc_check_id","check_name","result","severity","file_path","resource","start_line","end_line","evaluated_keys","guideline"], 
            (
              (.results.failed_checks + .results.passed_checks)[] |
              [
                .check_id,
                .bc_check_id,
                .check_name,
                .check_result.result,
                (.severity // ""),
                .file_path,
                .resource,
                (.file_line_range[0] // ""),
                (.file_line_range[1] // ""),
                (.check_result.evaluated_keys | join(";")),
                (.guideline // "")
              ]
            ) 
            | @csv
          ' ${{ env.TF_DIR }}/checkov-report/results_json.json > ${{ env.TF_DIR }}/checkov-report/results_csv.csv

      - name: Set Timestamp
        if: always() # upload artifacts even if some job steps fail
        run: echo "TIMESTAMP=$(date -u +%Y%m%dT%H%M%SZ)" >> $GITHUB_ENV
      
      - name: DEBUG Output Directory Contents
        if: always()
        run: ls -la -R ${{ env.TF_DIR }}

      - name: Upload Vulnerability Scan Reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.TIMESTAMP }}-pipeline-vulnerability-scan-reports-${{ inputs.env }}
          path: |
            ${{ env.TF_DIR }}/tfsec-report/*
            ${{ env.TF_DIR }}/checkov-report/*
          retention-days: 1
      
      # -------------------------------------
