name: Terraform CI Testing

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      tf_dir:
        required: true
        type: string

jobs:
  terraform_ci_test:
    runs-on: ubuntu-latest
    env:
      TF_INPUT: false
      TF_IN_AUTOMATION: true
      TF_DIR: ${{ inputs.tf_dir }}
      AWS_REGION: us-east-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ---------- TFSEC ----------
      - name: Install tfsec with SHA256 & GPG Verification and Run
        # Was unable to determine a method for passing results from GitHub Action (aquasecurity/tfsec-action@v1.0.3) to future jobs
        # This manual run is intended to generate JSON output for logic to conditionally warn or fail depending on environment
        if: always()
        run: |
          TFSEC_TAG=v1.28.14
          
          # Download the Linux amd64 release of tfsec 1.28.14
          curl -sSL -o tfsec-linux-amd64 https://github.com/aquasecurity/tfsec/releases/download/$TFSEC_TAG/tfsec-linux-amd64
          curl -sSL -o tfsec-linux-amd64.sig https://github.com/aquasecurity/tfsec/releases/download/$TFSEC_TAG/tfsec-linux-amd64.D66B222A3EA4C25D5D1A097FC34ACEFB46EC39CE.sig
          curl -sSL -o tfsec_checksums.txt https://github.com/aquasecurity/tfsec/releases/download/$TFSEC_TAG/tfsec_checksums.txt

          # Verify with GPG key
          gpg --keyserver keyserver.ubuntu.com --recv-keys D66B222A3EA4C25D5D1A097FC34ACEFB46EC39CE
          gpg --verify tfsec-linux-amd64.sig tfsec-linux-amd64

          # Optional: verify SHA256 checksum
          grep 'tfsec-linux-amd64' tfsec_checksums.txt | sed 's| tfsec-linux-amd64| tfsec-linux-amd64|' | sha256sum -c -

          # Move binary
          chmod +x tfsec-linux-amd64
          sudo mv tfsec-linux-amd64 /usr/local/bin/tfsec

          # Run tfsec
          tfsec ${{ env.TF_DIR }} --tfvars-file=${{ env.TF_DIR }}/env/${{ inputs.env }}.tfvars --format=lovely,json --out=${{ env.TF_DIR }}/tfsec-report --soft-fail

      - name: (tfsec) Count Findings by Severity
        id: tfsec-count
        run: | # Creates and exports variables that count numbers of vulnerabilities for conditional security gates
          LOW=$(jq '[.results[] | select(.severity=="LOW")] | length' ${{ env.TF_DIR }}/tfsec-report.json)
          MEDIUM=$(jq '[.results[] | select(.severity=="MEDIUM")] | length' ${{ env.TF_DIR }}/tfsec-report.json)
          HIGH=$(jq '[.results[] | select(.severity=="HIGH")] | length' ${{ env.TF_DIR }}/tfsec-report.json)
          CRITICAL=$(jq '[.results[] | select(.severity=="CRITICAL")] | length' ${{ env.TF_DIR }}/tfsec-report.json)
          TOTAL=$((LOW + MEDIUM + HIGH + CRITICAL))

          echo "low=$LOW" >> $GITHUB_OUTPUT
          echo "medium=$MEDIUM" >> $GITHUB_OUTPUT
          echo "high=$HIGH" >> $GITHUB_OUTPUT
          echo "critical=$CRITICAL" >> $GITHUB_OUTPUT
          echo "total=$TOTAL" >> $GITHUB_OUTPUT
      
      - name: (tfsec) Conditionally Warn Pipeline in Development or Test Environments
        # Intentionally declaring dev and test so any future environments fail by default
        if: ${{ (inputs.env == 'dev' || inputs.env == 'tst') && (fromJSON(steps.tfsec-count.outputs.high) > 0 || fromJSON(steps.tfsec-count.outputs.critical) > 0) }}
        run: |
          echo "::warning:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Deployment permitted to dev/test environment."

      - name: (tfsec) Conditionally Fail Pipeline in Production Environment
        # High and/or Critical vulnerabilities will block deployment to production
        if: ${{ (inputs.env == 'prod') && (fromJSON(steps.tfsec-count.outputs.high) > 0 || fromJSON(steps.tfsec-count.outputs.critical) > 0) }}
        run: |
          echo "::error:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Blocking production deployment."
          exit 1
      
      - name: (tfsec) Conditionally Fail Pipeline in any Other Environments
        # Creates a fail by default condition if any vulnerabilities are detected for environments not explicitly listed
        if: ${{ (inputs.env != 'dev' && inputs.env != 'tst' && inputs.env != 'prod') && (fromJSON(steps.tfsec-count.outputs.total) > 0) }}
        run: |
          echo "::error:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Blocking deployment to unknown environment."
          exit 1
      
      # ---------- CHECKOV ----------
      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        if: always()
        continue-on-error: true
        with:
          directory: ${{ env.TF_DIR }}
          output_format: json
          output_file_path: ${{ env.TF_DIR }}/checkov-report.json
      
      - name: (Checkov) Count Findings by Severity
        id: checkov-count
        run: | # Creates and exports variables that count numbers of vulnerabilities for conditional security gates
          { # Try to count by severity
          INFO=$(jq '[.results.failed_checks[] | select(.severity=="INFO")] | length' ${{ env.TF_DIR }}/checkov-report.json)
          LOW=$(jq '[.results.failed_checks[] | select(.severity=="LOW")] | length' ${{ env.TF_DIR }}/checkov-report.json)
          MEDIUM=$(jq '[.results.failed_checks[] | select(.severity=="MEDIUM")] | length' ${{ env.TF_DIR }}/checkov-report.json)
          HIGH=$(jq '[.results.failed_checks[] | select(.severity=="HIGH")] | length' ${{ env.TF_DIR }}/checkov-report.json)
          TOTAL=$((LOW + MEDIUM + HIGH))

          echo "info=$INFO" >> $GITHUB_OUTPUT
          echo "low=$LOW" >> $GITHUB_OUTPUT
          echo "medium=$MEDIUM" >> $GITHUB_OUTPUT
          echo "high=$HIGH" >> $GITHUB_OUTPUT
          echo "total=$TOTAL" >> $GITHUB_OUTPUT
          echo "pass=" >> $GITHUB_OUTPUT          # null
          echo "fail=" >> $GITHUB_OUTPUT          # null

          } || { # Except count by pass/fail if API key not provided
          echo "::warning:: Checkov severity scoring may be missing. Checkov analysis falling back to simple pass/fail."
          echo "::notice:: A Checkov API key was likely not provided, resulting in Checkov severity scoring of null."

          echo "info=" >> $GITHUB_OUTPUT          # null
          echo "low=" >> $GITHUB_OUTPUT           # null
          echo "medium=" >> $GITHUB_OUTPUT        # null
          echo "high=" >> $GITHUB_OUTPUT          # null
          echo "total=" >> $GITHUB_OUTPUT         # null
          echo "pass=$(jq '.summary.passed' ${{ env.TF_DIR }}/checkov-report.json)" >> $GITHUB_OUTPUT
          echo "fail=$(jq '.summary.failed' ${{ env.TF_DIR }}/checkov-report.json)" >> $GITHUB_OUTPUT
          }
      
      - name: (Checkov) Conditionally Warn Pipeline in Development or Test Environments
        # Intentionally declaring dev and test so any future environments fail by default
        if: ${{ (inputs.env == 'dev' || inputs.env == 'tst') && (fromJSON(steps.checkov-count.outputs.high) > 0 || fromJSON(steps.checkov-count.outputs.fail) > 0) }}
        run: |
          echo "::warning:: HIGH and/or CRITICAL vulnerabilities detected by Checkov! Deployment permitted to dev/test environment."

      - name: (Checkov) Conditionally Fail Pipeline in Production Environment
        # High vulnerabilities (or failed checks) will block deployment to production
        if: ${{ (inputs.env == 'prod') && (fromJSON(steps.checkov-count.outputs.high) > 0 || fromJSON(steps.checkov-count.outputs.fail) > 0) }}
        run: |
          echo "::error:: HIGH vulnerabilities or FAILED checks detected by Checkov! Blocking production deployment."
          exit 1
      
      - name: (Checkov) Conditionally Fail Pipeline in any Other Environments
        # Creates a fail by default condition if any vulnerabilities are detected for environments not explicitly listed
        if: ${{ (inputs.env != 'dev' && inputs.env != 'tst' && inputs.env != 'prod') && (fromJSON(steps.checkov-count.outputs.total) > 0 || fromJSON(steps.checkov-count.outputs.fail) > 0) }}
        run: |
          echo "::error:: Vulnerabilities or FAILED checks detected by Checkov! Blocking deployment to unknown environment."
          exit 1

      # ---------- ARTIFACT UPLOAD ----------
      - name: Set Timestamp
        if: always()
        run: echo "TIMESTAMP=$(date -u +%Y%m%dT%H%M%SZ)" >> $GITHUB_ENV

      # - name: Upload Vulnerability Scan Reports
      #   uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: ${{ env.TIMESTAMP }}-pipeline-vulnerability-scan-reports-${{ inputs.env }}
      #     path: |
      #       ${{ env.TF_DIR }}/tfsec-report.lovey
      #       ${{ env.TF_DIR }}/tfsec-report.json
      #       ${{ env.TF_DIR }}/checkov-report.json
      
      # -------------------------------------
