name: Terraform CI Testing

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      tf_dir:
        required: true
        type: string
    secrets:
      AWS_MANAGEMENT_ROLE_ARN:
        required: false
      AWS_TARGET_ROLE_ARN:
        required: false
      GITLEAKS_LICENSE:
        required: false

jobs:
  terraform_ci_test:
    runs-on: ubuntu-latest
    env:
      TF_INPUT: false
      TF_IN_AUTOMATION: true
      TF_DIR: ${{ inputs.tf_dir }}
      AWS_REGION: us-east-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          working_directory: ${{ env.TF_DIR }}
          args: --tfvars-file=${{ env.TF_DIR }}/env/${{ inputs.env }}.tfvars --format=json --out=tfsec-report.json
          soft_fail: true
        
      
      # ----- DEBUG STEPS -----
      - name: Capture tfsec report
        id: capture-report
        run: |
          echo "${{ steps.tfsec.outputs.tfsec-report.json }}" > ${{ env.TF_DIR }}/tfsec-report.json

      # - name: List Terraform files
      #   run: |
      #     ls -la ${{ env.TF_DIR }}

      # - name: Display Terraform report
      #   run: cat ${{ env.TF_DIR }}/tfsec-report.json
      # -----------------------

      # ----- MANUALLY RUN TFSEC -----
      - name: Manually run tfsec
        id: tfsec-manual-run
        run: |
          cd ${{ env.TF_DIR }}
          curl -sSL https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash
          tfsec . --tfvars-file=env/${{ inputs.env }}.tfvars --format=lovely,json --out=tfsec-report.json --soft-fail
      
      - name: List Terraform files
        run: |
          ls -la ${{ env.TF_DIR }}

      - name: Display Terraform report
        run: cat ${{ env.TF_DIR }}/tfsec-report.json
      # ------------------------------

      - name: Check for Critical and High Issues
        id: tfsec-count
        run: |
          HIGH=$(jq '[.results[] | select(.severity=="HIGH")] | length' ${{ env.TF_DIR }}/tfsec-report.json)
          CRITICAL=$(jq '[.results[] | select(.severity=="CRITICAL")] | length' ${{ env.TF_DIR }}/tfsec-report.json)

          echo "high=$HIGH" >> $GITHUB_OUTPUT
          echo "critical=$CRITICAL" >> $GITHUB_OUTPUT
      
      - name: Conditionally Warn Pipeline in Dev or Test Environments
        if: ${{ (inputs.env == 'dev' || inputs.env == 'tst') && (fromJSON(steps.tfsec-count.outputs.high) > 0 || fromJSON(steps.tfsec-count.outputs.critical) > 0) }}
        run: |
          echo "::warning:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Deployment permitted to dev/test environment."

      - name: Conditionally Fail Pipeline in Prod Environment
        if: ${{ (inputs.env == 'prod') && (fromJSON(steps.tfsec-count.outputs.high) > 0 || fromJSON(steps.tfsec-count.outputs.critical) > 0) }}
        run: |
          echo "::error:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Blocking production deployment."
          exit 1
      
      - name: Conditionally Fail Pipeline in any Other Environment
        if: ${{ (inputs.env != 'dev' && inputs.env != 'tst' && inputs.env != 'prod') && (fromJSON(steps.tfsec-count.outputs.high) > 0 || fromJSON(steps.tfsec-count.outputs.critical) > 0) }}
        run: |
          echo "::error:: HIGH and/or CRITICAL vulnerabilities detected by tfsec! Blocking deployment to unknown environment."
          exit 1
